body{
    display: flex;
}

div.container{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.phone{
    border: 7px solid black;
    width: 500px;
    height: 900px;
    /* background-color: rgb(255, 255, 255); */
    background-image: linear-gradient(rgb(183, 183, 255), rgb(96, 84, 150));
    border-radius: 80px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.island{
    margin-top: 15px;
    width: 200px;
    height: 40px;
    border: 3px solid black;
    border-radius: 50px;
    background-color: rgb(20, 20, 20);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.front-cam{
    width: 30px;
    height: 30px;
    background-image: linear-gradient(45deg, rgb(0, 80, 112), rgb(2, 0, 122));
    margin-right: 25px;
    border-radius: 50%;
}

div.apps{
    width: 450px;
    height:750px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 20px;
}

div.app{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
}

div.app:nth-child(1){
    background-image: url("images/app-store.svg");
}

div.app:nth-child(2){
        background-image: url("images/apple-music.svg");
}

div.app:nth-child(3){
        background-image: url("images/calculator.svg");
}

div.app:nth-child(4){
        background-image: url("images/camera.svg");
}

div.app:nth-child(5){
        background-image: url("images/clock.svg");
}

div.app:nth-child(6){
        background-image: url("images/contacts.svg");
}

div.app:nth-child(7){
        background-image: url("images/files.svg");
}

div.app:nth-child(8){
        background-image: url("images/photos.svg");
}

div.app:nth-child(9){
        background-image: url("images/safari.svg");
}

div.app:nth-child(10){
        background-image: url("images/settings.svg");
}
