*{
  box-sizing: border-box;
}

body{
  padding: 0px;
  background-color: white;
  font-family: sans-serif;
  height: 10000px;
  overflow-x: hidden;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

/* html.loading {
  overflow: hidden;
}

body.loading {
  overflow-y: scroll;
} */

div.heading{
}

div.navigation-container{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  width: 80%;
  height: 60px;
  position: sticky;
  top: 10px;
  background-color: white;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 089);

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  border-radius: 20px;
  flex: 1, 1, 0;
  z-index: 999;
}

button.navigation{
  width: 110px;
  height: 35px;
  border: 0 solid white;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: rgb(0, 119, 237);
  color: white;
}

button.navigation:hover{
  background-color: rgb(0, 100, 201);
  cursor: pointer;
}

button.navigation:active{
  background-color: rgb(0, 81, 161);
  cursor: pointer;
}

/* Content Start*/

/* General Start */

h1.c-heading{
  font-size: 56px;
}

div.body{
  width: 100%;
}

div.section{
  padding-top: 60px;
}

div.deck{
  background-color: blue;
  width: 1500px;
  height: 650px;
  position: relative;
  left: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

div.card{
  background-color: white;
  width: 430px;
  height: 630px;
  margin: 5px;
  border-radius: 30px;
}

div.move-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

button.move-buttons{
  background: white;
  color: black;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

/* General End */

/* Content End */

/* Loading Page Start */

div.loading-page{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(230, 230, 230), rgb(255, 255, 255), rgb(230, 230, 230));
  z-index: 9999;
}

div.logo-name{
  color: black;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 10px;
}

@keyframes draw{
  0%{
    stroke-dashoffset: 4500;
  }

  100%{
    stroke-dashoffset: 0;
  }
}

#svg{
  height: 150px;
  width: 150px;
  stroke: black;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
  font-family: "Michroma", "Space Grotesk",sans-serif;
}

/* Loading Page END */