*{
  box-sizing: border-box;
  font-family: 'Space Grotesk';
}

body{
  padding: 0px;
  background-color: white;
  font-family: 'Space Grotesk';
  overflow-x: hidden;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;

}

/* html.loading {
  overflow: hidden;
}

body.loading {
  overflow-y: scroll;
} */

div.heading{
  padding-left: 5%;
}

div.navigation-container{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  width: 80%;
  height: 60px;
  position: sticky;
  top: 10px;
  background-color: white;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 089);

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  border-radius: 20px;
  flex: 1, 1, 0;
  z-index: 999;
}

button.navigation{
  width: 110px;
  height: 35px;
  border: 1px solid rgb(65, 65, 65);
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: white;
  color: rgb(65,65,65);
}

button.navigation:hover{
  background-color: rgb(65,65,65);
  color: white;
  cursor: pointer;
}

button.navigation:active{
  background-color: rgb(44,44,44);
  color: white;
  cursor: pointer;
}

div.top-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 95%;
  z-index: 998;
}

div.top{
  display: flex;
  justify-content: center;
  align-items: center;
}

button.top{
  width: 70px;
  height: 35px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid rgb(65, 65, 65);
  color: rgb(65,65,65);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 20px;
}

button.top:hover{
  background-color: rgb(65,65,65);
  color: white;
  cursor: pointer;
}

/* Content Start*/

/* General Start */

h1.c-heading{
  font-size: 56px;
  margin-left: 5%;
}

h1{
  margin: 0px;
}

div.body{
  width: 100%;
}

div.section{
  padding-top: 60px;
}

div.deck{
  /* width: 1500px; */
  height: 650px;
  position: relative;
  left: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

div.plus{
  padding-top: 2px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: rgb(221, 221, 221);
  background-color: rgb(55, 55, 58);
  border-radius: 50%;
}

svg.plus{
  width: 30px;
  height: 30px;
}

div.card{
  background-color: white;
  color: white;
  width: 430px;
  height: 630px;
  margin: 5px;
  border-radius: 30px;
  cursor: pointer;
  text-align: left;
  transition: 0.3s ease;
}



div.card-overlay{
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
  height: 630px;
  width: 430px;
  border-radius: 30px;
  padding: 30px;
  position: relative;
}

h3.subheading{
  margin: 0px;
}

h2.subheading{
  margin: 0, 0, 10px, 0;
}

.subheading{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


div.card:hover{
  transform: scale(1.05);
}

div.move-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 20px;
  padding-top: 20px;
  padding-right: 20px;
}


button.move-buttons{
  background: rgb(185, 185, 185);
  color: rgb(102, 102, 103);
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

button.move-buttons:hover{
  background-color: rgb(200, 200, 200);
}

button.move-buttons:active{
  background-color: rgb(180, 180, 180);
}

/* General End */

/* Content End */


/* Loading Page Start */

div.loading-page{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(230, 230, 230), rgb(255, 255, 255), rgb(230, 230, 230));
  z-index: 9999;
}

div.logo-name{
  color: black;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 10px;
}

@keyframes draw{
  0%{
    stroke-dashoffset: 4500;
  }

  100%{
    stroke-dashoffset: 0;
  }
}

#svg{
  height: 150px;
  width: 150px;
  stroke: black;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
  font-family: "Michroma", "Space Grotesk",sans-serif;
}

/* Loading Page END */


.overlay{
  position: fixed;
  inset: 0;
  background: rgba(0, 0 ,0, 0.5);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.overlay.open{
  opacity: 1;
  visibility: visible;
}

.modal{
  position: fixed;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  max-height: 90%;
  translate: -50% -50%;
  background: white;
  border-radius: 30px;
  z-index: 9999999;
  width: 90%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.modal.open{
  opacity: 1;
  visibility: visible;
}

button.modal-close-button{
  position: absolute;
  top: 20px;
  right: 20px;
  background: #333336;
  color: rgb(185, 185, 185);
  width: 40px;
  height: 40px;
  border: 0;
  padding-top: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

button.modal-close-button:hover{
  color: white;
}

button.open-modal{
  background: none;
  border:none;
}

body.modal-open{
  overflow: hidden;
}

div.modal-content{
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

div.proof, div.reflection{
  width: 50%;
  height: 100%;
}

div.reflection{
  padding-left: 20px;
  text-align: justify;
}

div.proof{
  display: flex;
  justify-content: center;
  align-items: center;
}

img.proof{
  border-radius: 30px;
  max-height: 100%;
  max-width: 100%;
}

div.footer{
  margin-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 60px;
}

hr.footer{
  height: 1px;
  width: 100%;
  border: none;
  background-color: #333336;
}

h2.footer{
  text-align: center;
}

div.classroomcover1{
  background-image: url('images/classroomcover1.jpg');
  background-size: cover;
  background-position: center;
}

div.classroomcover2{
  background-image: url('images/classroomcover2.jpg');
  background-size: cover;
  background-position: center;
}

div.classroomcover3{
  background-image: url('images/classroomcover3.jpg');
  background-size: cover;
  background-position: center;
}

div.classroomcover4{
  background-image: url('images/classroomcover4.jpg');
  background-size: cover;
  background-position: center;
}

div.classroomcover5{
  background-image: url('images/classroomcover5.jpg');
  background-size: cover;
  background-position: center;
}

div.classroomcover6{
  background-image: url('images/classroomcover6.jpg');
  background-size: cover;
  background-position: center;
}

div.churchcover1{
  background-image: url('images/churchcover1.jpg');
  background-size: cover;
  background-position: center;
}

div.churchcover2{
  background-image: url('images/churchcover2.jpg');
  background-size: cover;
  background-position: center;
}

div.churchcover3{
  background-image: url('images/churchcover3.jpg');
  background-size: cover;
  background-position: center;
}

div.churchcover4{
  background-image: url('images/churchcover4.jpg');
  background-size: cover;
  background-position: center;
}

div.churchcover5{
  background-image: url('images/churchcover5.jpg');
  background-size: cover;
  background-position: center;
}

div.churchcover6{
  background-image: url('images/churchcover6.jpg');
  background-size: cover;
  background-position: center;
}

div.churchcover7{
  background-image: url('images/churchcover7.jpg');
  background-size: cover;
  background-position: center;
}

div.churchcover8{
  background-image: url('images/churchcover8.jpg');
  background-size: cover;
  background-position: center;
}

div.culturecover1{
  background-image: url('images/culturecover1.jpg');
  background-size: cover;
  background-position: center;
}

div.culturecover2{
  background-image: url('images/culturecover2.jpg');
  background-size: cover;
  background-position: center;
}

div.culturecover3{
  background-image: url('images/culturecover3.jpg');
  background-size: cover;
  background-position: center;
}

div.culturecover4{
  background-image: url('images/culturecover4.jpg');
  background-size: cover;
  background-position: center;
}

div.culturecover5{
  background-image: url('images/culturecover5.jpg');
  background-size: cover;
  background-position: center;
}

div.culturecover6{
  background-image: url('images/culturecover6.jpg');
  background-size: cover;
  background-position: center;
}

div.culturecover7{
  background-image: url('images/culturecover7.jpg');
  background-size: cover;
  background-position: center;
}

div.culturecover8{
  background-image: url('images/culturecover8.jpg');
  background-size: cover;
  background-position: center;
}

div.culturecover9{
  background-image: url('images/culturecover9.jpg');
  background-size: cover;
  background-position: center;
}

div.communitycover1{
  background-image: url('images/communitycover1.jpg');
  background-size: cover;
  background-position: center;
}

div.communitycover2{
  background-image: url('images/communitycover2.jpg');
  background-size: cover;
  background-position: center;
}

div.communitycover3{
  background-image: url('images/communitycover3.jpg');
  background-size: cover;
  background-position: center;
}

div.communitycover4{
  background-image: url('images/communitycover4.jpg');
  background-size: cover;
  background-position: center;
}

div.communitycover5{
  background-image: url('images/communitycover5.jpg');
  background-size: cover;
  background-position: center;
}

div.courtcover1{
  background-image: url('images/courtcover1.jpg');
  background-size: cover;
  background-position: center;
}

div.courtcover2{
  background-image: url('images/courtcover2.jpg');
  background-size: cover;
  background-position: center;
}

div.courtcover3{
  background-image: url('images/courtcover3.jpg');
  background-size: cover;
  background-position: center;
}

div.courtcover4{
  background-image: url('images/courtcover4.jpg');
  background-size: cover;
  background-position: center;
}

div.courtcover5{
  background-image: url('images/courtcover5.jpg');
  background-size: cover;
  background-position: center;
}

div.courtcover6{
  background-image: url('images/courtcover6.jpg');
  background-size: cover;
  background-position: center;
}

div.courtcover7{
  background-image: url('images/courtcover7.jpg');
  background-size: cover;
  background-position: center;
}

div.courtcover8{
  background-image: url('images/courtcover8.jpg');
  background-size: cover;
  background-position: center;
}

